#blueFrame {
    background-color: #00AEEF;
    overflow: hidden;
  }
  
  #whiteArea {
    background-color: white;
    margin: 50px;
    padding: 20px;
  }
  
  .grayTextBox {
    color: #00AEEF;
    background-color: #414042;
    padding: 10px;
    margin: 0px 0px 20px 0px;
  }
  .navBar {
    overflow: hidden;
    background-color: #414042;
    padding: 20px;
    margin: 0px 0px 15px 0px;
}

.navBar a {
    text-align: center;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
}

.navBar a.active {
    background-color: red;
    padding: 20px 20px;
}

h1 {
    color: red;
}

p {
    font-family: Futura;
}

h3 {
    font-family: Futura;
    color: #00AEEF;
}

.container{
    border: solid red 2px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 15px;
    color: white;
    background-color: #414042;
    overflow: hidden;
}

/* ========================================================================================== */
/* ========================================================================================== */

body {
    font: 18px arial, sans-serif;
    background: #eee;
  }
  
  #gifs {
    width: 70%;
  }
  
  .gif-item {
    float: left;
    padding: 10px;
  }
  
  form {
    float: right;
    width: 30%;
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  input[type="text"] {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  button,
  input[type="submit"] {
    padding: 5px 20px;
    margin: 0 10px 10px 0;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #659a98;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #bbb;
  }
  
  button:hover,
  input[type="submit"]:hover {
    background: #334e4d;
  }
  
  button.active {
    background: #334e4d;
  }
  