.navBar {
    overflow: hidden;
    background-color: red;
    padding: 20px 20px;
    margin: 0px 0px 5px 0px;
}

.navBar a {
    text-align: center;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
}

.navBar a.active {
    background-color: blue;
    padding: 20px 20px;
}

/* ========================================================================================== */

h1 {
    color: red;
}

p {
    font-family: Futura;
}

#zebra {
    width: 300px;
}