#blueFrame {
    background-color: #00AEEF;
    overflow: hidden;
  }
  
  #whiteArea {
    background-color: white;
    margin: 50px;
    padding: 20px;
  }
  
  .grayTextBox {
    color: #00AEEF;
    background-color: #414042;
    padding: 10px;
    margin: 0px 0px 20px 0px;
  }
  .navBar {
    overflow: hidden;
    background-color: #414042;
    padding: 20px;
    margin: 0px 0px 15px 0px;
}

.navBar a {
    text-align: center;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
}

.navBar a.active {
    background-color: red;
    padding: 20px 20px;
}

/* ========================================================================================== */

h1 {
    color: black;
}

h3 {
    font-family: Futura;
    color: #00AEEF;
}

p {
    font-family: Futura;
}

#zebra {
    width: 300px;
}

.container{
    border: solid red 2px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 15px;
    color: white;
    background-color: #414042;
    overflow: hidden;
}

#tomato {
    background-color:Tomato;
}

#orange {
    background-color:Orange;
}

#dodgerblue {
    background-color:DodgerBlue;
}

#mediumseagreen {
    background-color:MediumSeaGreen;
}

#gray {
    background-color:Gray;
}

#slateblue {
    background-color:SlateBlue;
}

#violet {
    background-color:Violet;
}

#lightgray {
    background-color:LightGray;
}

#redText {
    color: red;
}

#yellowText {
    color: yellow;
}

#grad1 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(red, blue); /* Standard syntax (must be last) */
}

#grad2 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, red , yellow); /* Standard syntax (must be last) */
}

#grad3 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, red, green); /* Standard syntax (must be last) */
}