#blueFrame {
    background-color: #00AEEF;
    overflow: hidden;
  }
  
  #whiteArea {
    background-color: white;
    margin: 50px;
    padding: 20px;
  }
  
  .grayTextBox {
    color: #00AEEF;
    background-color: #414042;
    padding: 10px;
    margin: 0px 0px 20px 0px;
  }
  .navBar {
    overflow: hidden;
    background-color: #414042;
    padding: 20px;
    margin: 0px 0px 15px 0px;
}

.navBar a {
    text-align: center;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
}

.navBar a.active {
    background-color: red;
    padding: 20px 20px;
}

/* ========================================================================================== */

h1 {
    color: black;
}

h3 {
    font-family: Futura;
    color: #00AEEF;
}

p {
    font-family: Futura;
}

#zebra {
    width: 300px;
}

.container{
    border: solid red 2px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 15px;
    color: white;
    background-color: #414042;
    overflow: hidden;
}

#tomato {
    background-color:Tomato;
}

#orange {
    background-color:Orange;
}

#dodgerblue {
    background-color:DodgerBlue;
}

#mediumseagreen {
    background-color:MediumSeaGreen;
}

#gray {
    background-color:Gray;
}

#slateblue {
    background-color:SlateBlue;
}

#violet {
    background-color:Violet;
}

#lightgray {
    background-color:LightGray;
}

#redText {
    color: red;
}

#yellowText {
    color: yellow;
}

/* ========================================================================================== */

#grad1 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(red, blue); /* Standard syntax (must be last) */
}

#grad2 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, red , yellow); /* Standard syntax (must be last) */
}

#grad3 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, red, green); /* Standard syntax (must be last) */
}

#grad4 {
    height: 200px;
    background-image: linear-gradient(to right, rgba(255,0,0,1), rgba(255,0,0,0)); /* Standard syntax (must be last) */
}

#grad5 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: repeating-linear-gradient(red, yellow 10%, green 20%); /* Standard syntax (must be last) */
}

#grad6 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: repeating-linear-gradient(45deg,red,yellow 7%,green 10%); /* Standard syntax (must be last) */
}

#grad7 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: repeating-linear-gradient(190deg,red,yellow 7%,green 10%); /* Standard syntax (must be last) */
}

#grad8 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: repeating-linear-gradient(90deg,red,yellow 7%,green 10%); /* Standard syntax (must be last) */
}

#grad9 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: radial-gradient(red, yellow, green); /* Standard syntax (must be last) */
}

/* ========================================================================================== */

#textShadow1 {
    text-shadow: 2px 2px red;
}

#textShadow2 {
    color: red;
    text-shadow: 2px 2px 5px white;
}

#textShadow3 {
    color: red;
    text-shadow: 0 0 5px white;
}

/* ========================================================================================== */

#transitionEX {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}

#transitionEX:hover {
    width: 300px;
}

#transitionEX2 {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 4s;
}

#transitionEX2:hover {
    width: 300px;
    height: 300px;
}

/* ========================================================================================== */

.zebra1 {
    width: 200px;
    float: right;
}

.zebra2 {
    width: 200px;
    float: left;
    margin-right: 10px;
}

.zebra3 {
    width: 200px;
    float: none;
}

.zebra4 {
    width: 200px;
    float: right;
}

.zebra5 {
    width: 200px;
    float: right;
}

.greenBorders {
    border: 3px solid #4CAF50;
    padding: 5px;
    margin-bottom: 15px;
}

.clearfix {
    overflow: auto;
  }

/* ========================================================================================== */

body {
    counter-reset: section;
}
  
.counterEx::before {
    counter-increment: section;
    content: "Section " counter(section) ": ";
}

/* ========================================================================================== */

#resizeEx1 {
    border: 2px solid;
    padding: 20px; 
    width: 300px;
    resize: both;
    overflow: auto;
    margin-bottom: 15px;
  }

#resizeEx2 {
    border: 2px solid;
    padding: 20px; 
    width: 300px;
    resize: vertical;
    overflow: auto;
    margin-bottom: 15px;
  }

#resizeEx3 {
    border: 2px solid;
    padding: 20px; 
    width: 300px;
    resize: horizontal;
    overflow: auto;
    margin-bottom: 15px;
  }

/* ========================================================================================== */

.wordBrAll {
    width: 140px; 
    border: 1px solid #000000;
  }
  
.wordBr1 {
    word-break: normal;
  }
  
.wordBr2 {
    word-break: keep-all;
  }
  
.wordBr3 {
    word-break: break-all;
  }

/* ========================================================================================== */

.Zindex {
    position: relative;
}

.zIndexText {
    z-index: 2;
}

#zIndexImg {
    position: absolute;
    left: 15px;
    top: 15px;
    bottom: 15px;
    z-index: 1;
  }

  /* ========================================================================================== */

  p.test1 {
    writing-mode: horizontal-tb; 
  }
  
  p.test2 {
    writing-mode: vertical-rl; 
  }
  
  span.test2 {
    writing-mode: vertical-rl; 
  }

/* ========================================================================================== */

  p.a { 
    word-spacing: normal;
  }
  
  p.b { 
    word-spacing: 30px;
  }
  
  p.c { 
    word-spacing: 1cm;
  }

/* ========================================================================================== */

  #userSelectEx {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
  }

/* ========================================================================================== */

  p.ex1 {
    direction: rtl;
    unicode-bidi: bidi-override;
  }